@import "./assets/scss/app.scss";

html,
body,
#root,
.h-100 {
  height: 100%;
}

.main_page_body {
  @apply min-h-screen;
}

// Do Not delete this class, this is used internally by system
._exp_page_main_container_ {
  position: relative;
  min-height: calc(100vh - 10px)
}